<header id="header">
  <div class="nav-top">
    <a href="/" class="logo">Quantum</a>
    <div class="search-box">
      <form action="#" method="get">
        <div class="inputs">
          <input type="submit" id="submit-search" value="">
          <input type="text" placeholder="Search goods" name="search-term">
        </div>
        <div class="select">
          <select name="category" id="category-to-search">
            <option value="" selected="selected">
              Category >
            </option>
            {{# each categories }}
              <option value={{this.idcategory}}>{{this.categoryname}}</option>
            {{/each}}
          </select>
        </div>
      </form>
    </div>
    <div class="actions-items">
      <div class="action-item">
        <img src="/img/icons/ic_shopping_cart.png" alt="Items in cart">
        <a href="/cart"><span id="items-in-cart"></span>Items</a>
      </div>
      <div class="action-item">
        <img src="/img/icons/ic_favorite_border.png" alt="Items in wishlist">
        <a href="/wishlist">Wish List</a>
      </div>
      <div class="action-item">
        <img src="/img/icons/ic_account_circle.png" alt="Sign In">
        {{# if user }}
          <div class="user-session">
            <p class="username">{{user.username}}</p>
            <a href="/log-out">Log Out</a>
          </div>
        {{ else }}
          <a href="/sign-in">Sign In</a>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="line-div"></div>
  <div class="nav-bottom">
    <div class="all-categories dropdown">
      <div class="cta">
        <img src="/img/icons/ic_menu.png" alt="Dropdown all categories">
        All Categories
      </div>
      <div class="submenu-dropdown">
        {{# each categories }}
          <a href="/filter/{{this.categoryname}}">{{this.categoryname}}</a>
        {{/each}}
      </div>
    </div>

    <div class="vertical-line"></div>

    <ul class="links">
      <li class="link"><a href="#">Super Deals</a></li>
      <li class="link"><a href="#">Featured Brands</a></li>
      <li class="link"><a href="#">Collections</a></li>
      <li class="link"><a href="#">Bestselling</a></li>
    </ul>
    <div class="config-site">
      <div class="vertical-line"></div>
      <div class="help-config config dropdown">
        <div class="cta">
          Help
          <img src="/img/icons/ic_arrow_down.png">
        </div>
        <div class="submenu-dropdown">
          <a href="#">Forum</a>
          <a href="#">FAQ</a>
        </div>
      </div>
      <div class="vertical-line"></div>
      <div class="currency-config config dropdown">
        <div class="cta">
          USD
          <img src="/img/icons/ic_arrow_down.png">
        </div>
        <div class="submenu-dropdown">
          <a href="#">BRL</a>
          <a href="#">XBT</a>
        </div>
      </div>
      <div class="vertical-line"></div>
      <div class="language-config config dropdown">
        <div class="cta">
          Language
          <img src="/img/icons/ic_arrow_down.png">
        </div>
        <div class="submenu-dropdown">
          <a href="#">Portuguese</a>
          <a href="#">English</a>
        </div>
      </div>
    </div>
  </div>
</header>
