<section class="products">
  <aside>
    <div class="categories">
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_desktop_windows.png" class="category-img">
          <p class="category-name">Computers</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_desktop_windows.png" class="category-img">
          <p class="category-name">Apple Computers</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_laptop.png" class="category-img">
          <p class="category-name">Laptops</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_keyboard.png" class="category-img">
          <p class="category-name">Keyboard</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_memory.png" class="category-img">
          <p class="category-name">Computer Components</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_speaker.png" class="category-img">
          <p class="category-name">Accessories</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_phone_iphone.png" class="category-img">
          <p class="category-name">Cell Phones</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_tv.png" class="category-img">
          <p class="category-name">TV & Video</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_videogame_asset.png" class="category-img">
          <p class="category-name">Game consoles</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_watch.png" class="category-img">
          <p class="category-name">Watches</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
    </div>
    <div class="promo-code">
      <div class="texts">
        <p class="title">Look Up In The Sky</p>
        <p class="desc">Astronomy Or Astrology</p>
      </div>
    </div>
  </aside>
  <main>
    <nav>
      <ul class="filters">
        <li class="filter"><a href="/order/rating">Popular products</a></li>
        <li class="filter"><a href="/order/low-price">Low price</a></li>
        <li class="filter"><a href="/order/price">High price</a></li>
      </ul>
      <div class="display">
        <div class="vertical-line"></div>
        <a href="#">
          <img src="/img/icons/ic_view_grid.png" alt="Display Grid">
        </a>
        <div class="vertical-line"></div>
        <a href="#">
          <img src="/img/icons/ic_view_list.png" alt="Display Line">
        </a>
      </div>
    </nav>
    <div class="products-list">
      {{# each products}}
        <form class="product">
          <div class="labels">
            <p class="promotion">Sale</p>
            <div class="actions">
              <a href="/add-to-cart/{{this.id}}" class="add-list">
                <img src="/img/icons/ic_add_list.png" alt="Add to list">
              </a>
              <a href="/add-to-favorite/{{this.id}}" class="add-favorites">
                <img src="/img/icons/ic_favorite_border.png" alt="Add to favorites">
              </a>
            </div>
          </div>
          <img src="/img/products/{{this.img_url}}" alt="{{this.name}}" class="product-img">
          <p class="name">{{this.name}}</p>
          {{!-- Rating System --}}
          <div id="rating" data-rating="{{this.rating}}"></div>

          <div class="price">
            <p class="price-value">$ {{this.price}}</p>
            <a href="/add-to-cart/{{this.id}}">
              <img src="/img/icons/ic_shopping_cart.png" alt="Add to cart">
            </a>
          </div>
        </form>
      {{/each}}
    </div>
  </main>
</section>

<script src="/js/rating.js"></script>
